/*<!-- Made by Priyanshu CHoudhary github:https://github.com/Priyanshu0714 -->*/
*{	
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;
}

.HeaderSection{
	background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
	background-position: center;
	background-size: 110%;
	background-repeat: no-repeat;
	min-height:70vh;
}
.navigationElement{
	color:white;
	text-decoration: none;
}
.HeaderNav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
	/*top&bottom left&right*/
	padding:37px 128px ;
	font-size: 18px;

}
@media only screen and (max-width: 600px)
{
	.HeaderNav
	{
		display: none;
	}
}
.navRight{
	display: flex;
	gap:30px;
	padding-right:24px;
}
.navigationLeft{
	font-size: 14px;
	font-weight: 600;
}

.zomatoImg{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:28px;
	width: 22%;
}
.zomatoSubheading{
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 35px;
	padding:25px;
	font-weight: 300;
}
.headerDropdown{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 12%;
}
.headerDropdown2{
	min-width: 500px;
	min-height: 50px;
	position: relative;
	right: 16px;
	border: 1px solid white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.headerDropdown1{
	min-width: 300px;
	min-height: 50px;
	border: 1px solid white;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.fa-location-dot{
	font-size: 24px;
	position: relative;
	left: 30px;
}
.fa-rotate-180{
	font-size: 24px;
	position: relative;
	right: 30px;
}
.fa-magnifying-glass{
	position: relative;
	right:500px;
}
.bodycontent{
	margin:50px 120px 0 120px;
}
.contentCard{
	height:250px;
	width: 500px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-image: url(https://b.zmtcdn.com/webFrontend/e5b8785c257af2a7f354f1addaf37e4e1647364814.jpeg?output-format=webp&fit=around|402:360&crop=402:360;*,*);
	background-position: bottom center;
}
.cardDescription1,.cardDescription2	{
	font-size: 20px;
	font-weight: 200;
	height: 41px;
	position: relative;
	top:50%;
}
.cardDescription1{
	padding:10px;
	font-weight: 300;
}
.cardDescription2{
	padding-left: 10px;
}
.cardDescription{
	background-color: white;
	position: relative;
	top: 67%	;
	border: 1px solid lightgrey;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
}
.contentCard:hover{
	cursor: pointer;
	transform: scale(1.05);
	transition-duration: 0.4s;
}
.content2{
	padding:90px 0;
}
.content2sub{
	font-size: 36px;
	color:RGB(54, 54, 54);
	font-weight: 300;
}
.content2sub::after{
	content: " Jharkhand";
	font-weight: 400;

}
.content2Button{
	padding:12px 15px;
	padding-right:210px ;
	margin:30px 0;
	text-align: left;
	background-color: white;
	border-radius: 10px;
	border: 1.5px solid lightgray;
}
.buttonContent1{
	font-size: 20px;
	color:RGB(54, 54, 54);
}
.buttonContent2{
	color: grey;
}
.fa-rotate-90{
	position: relative;
	top: 27px;
	left: 370px;
}
.downloadApp{
	height: 80vh;
	width: 100%;
	background-color: #fffbf7;
	background-image: url(https://b.zmtcdn.com/data/o2_assets/f773629053b24263e69f601925790f301680693809.png);
	background-size: 19%;
	background-repeat: no-repeat;
	background-position-x: 51vh;
	background-position-y: center;
}
.downloadContent{
	height: 400px;
	width: 450px;
	position: relative;
	top: 10%;
	left: 44%;
	padding:10px 5px 20px ;
}
.downloadContent_Heading{
	font-size: 43px;
	padding-bottom: 25px;
}
.downloadContent_SubHeading{
	color:black;
	font-weight: 300;
	font-size: 15px;

}
input[type=radio] {
	height:20px;
	width:20px;
	position: relative;
	top: 5px;
}
.radioEmail,.radioPhone{
	margin-right: 55px;
	margin-left: 5px;
	font-weight: 300;
}
input{
	accent-color: #ef4f5f;
}
.downloadEnterEmail{
	padding: 20px 0;
}
.downloadinput1,.downloadinput2{
	height: 50px;
	border-radius: 8px;
	border: 1px solid transparent;
}
.downloadinput1{
	margin-right: 5px;
	width: 280px;
	border: 1px solid #989898;
}
.downloadinput1::placeholder{
	color:#989898;
	font-size: 17px;
	position: relative;
	left: 10px;
	font-weight: 200;
}
.downloadinput2{
	padding: 0 10px;
	text-align: center;
	width: 150px;
	background-color: #ef4f5f;
	color: white;
}
.downloadAppFrom{
	color:#989898;
	font-size: 14px;
	font-weight: 300;
	margin-bottom: 10px;
}
.downloadImg1,.downloadImg2{
	max-height: 32%;
	max-width: 32%;
	margin-right: 10px;
}
.exploreSection{
	height: 65vh;
	width: 100%;
	background-color: #fcfcfc;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}
.explore{
	height: 50vh;
	width: 80%;
}
.exploreHeading{
	font-size: 30px;
	font-weight: 500;
	color: #363636;
	padding-bottom: 17px;
}
.exploreHeadingButton{
	height: 60px;
	width: 1050px;
	margin: 10px 0;
	padding-left: 20px;
	text-align: left;
	font-size: 20px;
	font-weight: 300;
	border-radius: 9px;
	border: 1px solid lightgrey;
	background-color: white;
}
.exploreHeadingButton,.exploreButtonLabel:hover{
	cursor: pointer;
}

.exploreButton1{
	position: relative;
	left: 734px;
}
.exploreButton2{
	position: relative;
	left: 650px;
}
.exploreButton3{
	position: relative;
	left:792px;
}
.Footer{
	height:90vh;
	width: 100%;
	background-color: #f8f8f8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.Footerpart{
	height:60vh ;
	width: 82%;
}
.footerImg{
	display: block;
	width: 12%;
	height: 8%;
	position: relative;
	top:30px;
}
.footerTable,th,td{
	font-weight: 500;
}
th{
	padding: 10px 60px 10px 0;
	text-align: left;
}
th,td:nth-child(2){
	width: 300px;
}
th,td:nth-child(3){
	width: 500px;
}
td{
	font-size: 13px;
	color: RGB(28, 28, 28);
	font-weight: 300;
}
.SocialLinksLogo1,.SocialLinksLogo2,.SocialLinksLogo3,.SocialLinksLogo4,.SocialLinksLogo5{
	padding: 0 3px;
}
.FooterAppleLogo,.FooterGooglePlay{
	display: block;
	height: 70%;
	width: 70%;
	padding:6px 2px;
	cursor: pointer;
}
.FooterLine{
	font-weight: 100;
	border: none;
	border-top:0.5px solid 	#C8C8C8;
	padding-bottom: 19px;
}
.FooterParagraph{
	font-size: 12.5px;
	color: RGB(28, 28, 28);
	font-weight: 300;
	padding-bottom: 30px;
}
.CountryLanguage{
	display: flex;
	flex-direction: row;
	justify-content: end;
	
}
.indiaFlag{
	display: block;
	height: 50%;
	width: 50%;
}
.country,.language{
	height: 40px;
	width: 110px;
	border: 1px solid black;
	padding: 6px;
	padding-left: 10px;
	margin-right: 10px;
	border-radius: 8px;
	border: 1px solid lightgrey;
	cursor: pointer;
}
.language{
	width: 125px;
}
.fa-flag,.fa-earth-americas{
	padding-right: 10px;
}
.flagArrow1{
	position: relative;
	left: 13px;
}
.flagArrow2{
	position: relative;
	left:10px;
}
.FooterEnd{
	background-color: #f8f8f8;
}